aioprocessing<3.0.0,>=2.0.1
ansicolors<2.0,>=1.1
bidict<0.24.0,>=0.23.1
case-converter<2.0.0,>=1.1.0
comicbox[pdf]<2.0.0,>=1.1.10
django-cachalot<3.0.0,>=2.6.2
django-cors-headers<5.0,>=4.0
django-rest-registration<0.9.0,>=0.8.3
django-vite<4.0.0,>=3.0.1
djangorestframework<4.0.0,>=3.15.1
djangorestframework-camel-case<2.0.0,>=1.4.2
drf-spectacular<0.28.0,>=0.27.2
fnvhash<0.2,>=0.1
humanfriendly<11.0,>=10.0
humanize<5.0.0,>=4.0.0
hypercorn[h3]<0.18.0,>=0.17.3
tzlocal<6.0,>=5.0
versio<0.6.0,>=0.5.0
watchdog<5.0,>=4.0
websocket_client<2.0,>=1.2
whitenoise[brotli]<7.0,>=6.0
whoosh-reloaded<3.0.0,>=2.7.5
django<6.0.0,>=5.0.6
psutil<7.0.0,>=6.0.0
setuptools<73.0.0,>=72.1.0
