<?xml version="1.0" encoding="UTF-8"?>
<!-- property list file for weewx daemon -->
<!-- put this file in /Library/LaunchDaemons -->
<!-- to start weewx: -->
<!--   sudo launchctl load -w /Library/LaunchDaemons/com.weewx.weewxd.plist -->
<!-- to stop: -->
<!--   sudo launchctl unload /Library/LaunchDaemons/com.weewx.weewxd.plist -->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.weewx.weewxd</string>
    <key>Disabled</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/share/CACHEDEV1_DATA/.qpkg/WeeWX/venv/bin/python</string>
        <string>/share/CACHEDEV1_DATA/.qpkg/WeeWX/venv/lib/python3.11/site-packages/weewxd.py</string>
        <string>/root/weewx-data/weewx.conf</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/var/log/weewx_err.log</string>
</dict>
</plist>
