# systemd service configuration file for WeeWX

[Unit]
Description=WeeWX weather system
Documentation=https://weewx.com/docs
Requires=time-sync.target
After=time-sync.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/share/CACHEDEV1_DATA/.qpkg/WeeWX/venv/bin/python /share/CACHEDEV1_DATA/.qpkg/WeeWX/venv/lib/python3.11/site-packages/weewxd.py /root/weewx-data/weewx.conf
StandardOutput=null
StandardError=journal+console
User=admin
Group=administrators

[Install]
WantedBy=multi-user.target
