Jinja2
PyYAML
blessed
charset-normalizer
click
editor
inquirer
marshmallow==3.13.0
peewee
peewee-migrate==1.6.1
py-cpuinfo
readchar
requests-toolbelt
runs
schedule==0.6.0
swagger-ui-py
tornado==6.0.2
unmanic
watchdog
wcwidth
wheel
xmod
